@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100% {
        opacity: 01;
        transform: translateY(0) scale(1);
    }
}
.service-card {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}